{% extends "layout.html" %}

{% block body %}

      <!-- Card to display history -->
      <div class="card" >
        <div  class="card-body">
            <h5 class="card-title">Transaction history</h5>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Transaction type</th>
              <th scope="col">Details</th>
            </tr>
          </thead>

        {% for item in history %}
          <tbody>
            <tr>
              <td>{{ item.timestamp.date() }}</td>
              <td>{{ item.timestamp.time() }}</td>
              <td>{{ item.transaction_type }}</td>
              <td>{{ item.history }}</td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
        
        </div>
  {% endblock %}