{% extends "layout.html" %}

{% block body %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
{% endfor %}

    <!-- Header -->
    <div class="container"><h1>{{Action}} form</h1></div>
      <!-- Transaction form -->
</br>
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.product_name.label (class="col-sm-2 col-form-label") }}
        {{ form.product_name(class="form-control-sm") }}
      </br>
        {{ form.price.label(class="col-sm-2 col-form-label") }}
        {{ form.price(class="form-control-sm") }}
      </br>
        {{ form.quantity.label(class="col-sm-2 col-form-label") }}
        {{ form.quantity(class="form-control-sm") }}
      </br>
        {{ form.submit(class="btn btn-primary mb-2") }}
        </form>

{% endblock %}